body {
  font-family: 'Open Sans', sans-serif;
}

.btn-outline-info:focus {
  box-shadow: 0 0 0 .2rem rgb(87, 177, 159);
}

.btn-outline-info:focus
.btn-outline-info {
  color: rgb(87, 177, 159) !important;
  border-color: rgb(87, 177, 159) !important;
}

.btn-outline-info:hover,
.btn-outline-info:active
 {
  background-color: rgb(87, 177, 159);
  color: white !important;
  border-color: rgb(87, 177, 159) !important;
}

.bg-info,
.nav-pills .nav-link.active,
.btn-primary {
  background-color: rgb(87, 177, 159) !important;
  color: white !important;
  border-color: rgb(87, 177, 159) !important;
}

.text-info,
a {
  color: rgb(87, 177, 159) !important;
}

#landing-page #main {
  background-image: url("peter2.jpg");

  /* Set a specific height */
  height: 670px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}